/* .btn {
  width: 70px;
  height: 10px;
  border: 1px solid gray;
  border-radius: 20%;
} */

/* .btn-green {
  background: green;
  color: white;
}
.btn-red {
  background: red;
  color: white;
} */
